<app-nav></app-nav>

<div class="container" class="mask" >
    
    <div class="jumbotron">
      <div class="card-header">
        <h1>Agendas de Autoevaluación</h1>
      </div>

     
    
      <p class="lead">
        Es un sistema que permite llevar acabo el ejercicio de autocontrol en las Delegaciones Regionales en todas sus etapas: planeación, ejecución, resultados y seguimiento.
      </p>
      </div>

  </div>

 


  <div class="card-footer text-muted">
    © 2022 Copyright: <b>Infonavit</b>
  
  </div>