<app-nav></app-nav>
<h1 >
  1.-Quejas del area de credito
</h1>
<div class="m-4">
    <div style="display: block">
      <canvas baseChart class="chart"
              [datasets]="datosGrafico"
              [labels]="lblDatos"
              [options]="opcionesGrafico"
              [legend]="mostrarLeyendasDeGrafico"
              [chartType]="tipoDeGrafico"
              (chartClick)="onClickGrafico($event)">
            
              
              [colors]="coloresGrafico"

            </canvas>
    </div>
    <button class="btn btn-primary mt-3" (click)="darValoresAleatorios()">Desordenar valores</button>
  </div>